<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="{{ url_for("static", filename="status.css") }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js" integrity="sha384-CJyhAlbbRZX14Q8KxKBt0na1ad4KBs9PklAiNk2Efxs9sgimbIZm9kYLJQeNMUfM" crossorigin="anonymous"></script>
    </head>
    <body class="bg-light">
        <div class="container my-5">
            <h2 class="mb-3">All Transactions</h2>
            <table class="table table-striped table-bordered table-sm mb-5">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Duration</th>
                        <th>Execution</th>
                        <th>Cards</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td data-toggle="tooltip"
                            data-placement="left"
                            data-timestamp="{{ transaction.timestamp }}"
                            title="{{ transaction.timestamp_str }}">
                            {{ transaction.timestamp_str }}
                        </td>
                        <td data-toggle="tooltip"
                            data-placement="left"
                            data-time-elapsed="{{ transaction.time_elapsed }}"
                            title="{{ transaction.time_elapsed }}">
                            {{ transaction.time_elapsed_str }}
                        </td>
                        <td class="align-middle"><div class="d-flex">
                            <a class="img-container" {{ transaction.app_engine_url and "href" }}="{{ transaction.app_engine_url }}" target="_blank">
                                <img class="icon{{ "" if transaction.app_engine_url else " grey" }}"
                                    src="{{ url_for("static", filename="app-engine.svg") }}"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{
                                            "This transaction was run on App Engine!"
                                            if transaction.app_engine_url else
                                            "This transaction was not run App Engine."
                                    }}"/>
                            </a>
                            <a class="img-container" {{ transaction.compute_engine_url and "href" }}="{{ transaction.compute_engine_url }}" target="_blank">
                                <img class="icon{{ "" if transaction.compute_engine_url else " grey" }}"
                                    src="{{ url_for("static", filename="compute-engine.svg") }}"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="{{
                                            "The webdriver was run on a compute instance!"
                                            if transaction.compute_engine_url else
                                            "The webdriver was run locally."
                                    }}"/>
                            </a>
                            <a class="img-container" {{ transaction.log_url and "href" }}="{{ transaction.log_url }}" target="_blank">
                                <img class="icon{{ "" if transaction.log_url else " grey" }}"
                                     src="{{ url_for("static", filename="logging.svg") }}"
                                     data-toggle="tooltip"
                                     data-placement="bottom"
                                     title="{{
                                             "Logs Available!"
                                             if transaction.log_url else
                                             "Logs Unavailable."
                                     }}"/>
                            </a>
                        </div></td>
                        <td>{{ ", ".join(transaction.cards) }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>
                            <i class="fa {{
                                        "fa-exclamation-triangle text-warning"
                                        if True in transaction.success and False in transaction.success else
                                        "fa-check text-success"
                                        if True in transaction.success else
                                        "fa-exclamation-circle text-danger"
                                        }}"
                                data-toggle="tooltip"
                                data-placement="right"
                                title="{{ transaction.message }}"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- @TODO(darrennchan8): Consider removing this section for privacy/security. -->
            <h2 class="mb-3">Cards</h2>
            <table class="table table-striped table-bordered table-sm mb-5">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Card Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, number in cards.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ number }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            $(() => {
                $('[data-timestamp]').each((i, e) => $(e).attr('title', moment(+$(e).attr('data-timestamp')).format('L LT')).text(moment(+$(e).attr('data-timestamp')).fromNow()));
                $('[data-time-elapsed]').each((i, e) => $(e).attr('title', `${moment.duration(parseFloat($(e).attr('data-time-elapsed'))).asSeconds()} seconds`).text(moment.duration(parseFloat($(e).attr('data-time-elapsed'))).humanize()));
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </body>
</html>
